##### Reading  OBE Mrksheet

In [1]:
import pandas as pd
cse104_file = pd.read_excel('CSE104 OBE Mark Sheet.xlsx')

In [2]:
cse104_file.head(7)

,Serial,ID,Course ID,Section,Semester,Midterm,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Final Total,Final Total Converted,Project Work,Project Work Total,Total,Unnamed: 22,CO Total,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,CO1,CO1,CO1,CO2,CO1,...,100.0,40.0,CO4,30.0,100.0,NaN,CO1,CO2,CO3,CO4
1,NaN,NaN,NaN,NaN,NaN,Q1,Q2,Q3,Q4,Q5,...,NaN,NaN,Lab,NaN,NaN,NaN,165,35,50,30
2,NaN,NaN,NaN,NaN,NaN,25,25,30,20,30,...,NaN,NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,1416455.0,CSE104,1.0,Summer,15,0,5,15,2,...,65.0,26.0,24,24.0,67.0,8.2,55,26,28,24
4,2.0,1579288.0,CSE104,1.0,Summer,0,0,18,0,5,...,46.0,18.4,23,23.0,57.0,8.6,45,13,23,23
5,3.0,1528882.0,CSE104,3.0,Summer,15,7,0,0,0,...,30.0,12.0,6,6.0,40.0,16.8,35,8,13,6
6,4.0,1653725.0,CSE104,3.0,Summer,0,0,0,0,0,...,0.0,0.0,0,0.0,8.0,8.0,0,0,0,0

In [3]:
# Converting to list
to_list = cse104_file.values.tolist()

In [4]:
for i in range(5):
    print(to_list[i])

[nan, nan, nan, nan, nan, 'CO1', 'CO1', 'CO1', 'CO2', 'CO1', 'CO1', 150.0, 30.0, 'CO1', 'CO1', 'CO2', 'CO3', 100.0, 40.0, 'CO4', 30.0, 100.0, nan, 'CO1', 'CO2', 'CO3', 'CO4']
[nan, nan, nan, nan, nan, 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', nan, nan, 'Q1', 'Q2', 'Q3', 'Q4', nan, nan, 'Lab', nan, nan, nan, 165, 35, 50, 30]
[nan, nan, nan, nan, nan, 25, 25, 30, 20, 30, 20, nan, nan, 20, 15, 15, 50, nan, nan, 30, nan, nan, nan, nan, nan, nan, nan]
[1.0, 1416455.0, 'CSE104', 1.0, 'Summer', 15, 0, 5, 15, 2, 7, 44.0, 8.8, 13, 13, 11, 28, 65.0, 26.0, 24, 24.0, 67.0, 8.200000000000003, 55, 26, 28, 24]
[2.0, 1579288.0, 'CSE104', 1.0, 'Summer', 0, 0, 18, 0, 5, 12, 35.0, 7.0, nan, 10, 13, 23, 46.0, 18.400000000000002, 23, 23.0, 57.0, 8.599999999999994, 45, 13, 23, 23]

In [6]:
# total marks for q1
q1 = to_list[1:][1][5]
print(q1)
#getting CO number
co_id_mq1 = to_list[0][5] #
print(co_id_mq1)
print(type(co_id_mq1))

25
CO1
<class 'str'>

In [7]:
# Creating assessments for mid q1
mid_q1_sec_1 = ['CSE104_Mid_Q1_S1', 'Midterm', q1, co_id_mq1, 'cse104_' + str(1) ]
print(mid_q1_sec_1)
mid_q1_sec_2 = ['CSE104_Mid_Q1_S2', 'Midterm', q1, co_id_mq1, 'cse104_' + str(2) ]
mid_q1_sec_3 = ['CSE104_Mid_Q1_S3', 'Midterm', q1, co_id_mq1, 'cse104_' + str(3) ]

['CSE104_Mid_Q1_S1', 'Midterm', 25, 'CO1', 'cse104_1']

In [8]:
# total marks for q2
q2 = to_list[1:][1][6]
print(q2)
#getting CO number
co_id_mq2 = to_list[0][6]
print(co_id_mq2)

25
CO1

In [9]:
# Creating assessments mid q2
mid_q2_sec_1 = ['CSE104_Mid_Q2_S1', 'Midterm', q2, co_id_mq2, 'cse104_' + str(1) ]
print(mid_q2_sec_1)
mid_q2_sec_2 = ['CSE104_Mid_Q2_S2', 'Midterm', q2, co_id_mq2, 'cse104_' + str(2) ]
mid_q2_sec_3 = ['CSE104_Mid_Q2_S3', 'Midterm', q2, co_id_mq2, 'cse104_' + str(3) ]
print(mid_q2_sec_3)

['CSE104_Mid_Q2_S1', 'Midterm', 25, 'CO1', 'cse104_1']
['CSE104_Mid_Q2_S3', 'Midterm', 25, 'CO1', 'cse104_3']

In [10]:
# total marks for q3
q3 = to_list[1:][1][7]
print(q3)
#getting CO number
co_id_mq3 = to_list[0][7]
print(co_id_mq3)

30
CO1

In [11]:
# Creating assessments mid q3
mid_q3_sec_1 = ['CSE104_Mid_Q3', 'Midterm', q3, co_id_mq3, 'cse104_' + str(1) ]
print(mid_q3_sec_1)
mid_q3_sec_2 = ['CSE104_Mid_Q4_S2', 'Midterm', q3, co_id_mq3, 'cse104_' + str(2) ]
mid_q3_sec_3 = ['CSE104_Mid_Q4_S3', 'Midterm', q3, co_id_mq3, 'cse104_' + str(3) ]
print(mid_q3_sec_3)

['CSE104_Mid_Q3', 'Midterm', 30, 'CO1', 'cse104_1']
['CSE104_Mid_Q4_S3', 'Midterm', 30, 'CO1', 'cse104_3']

In [12]:
# total marks for q4
q4 = to_list[1:][1][8]
print(q4)
#getting CO number
co_id_mq4 = to_list[0][8]
print(co_id_mq4)

20
CO2

In [13]:
# Creating assessments mid q4
mid_q4_sec_1 = ['CSE104_Mid_Q4', 'Midterm', q4, co_id_mq4, 'cse104_' + str(1) ]
print(mid_q4_sec_1)
mid_q4_sec_2 = ['CSE104_Mid_Q4', 'Midterm', q4, co_id_mq4, 'cse104_' + str(2) ]
mid_q4_sec_3 = ['CSE104_Mid_Q4', 'Midterm', q4, co_id_mq4, 'cse104_' + str(3) ]
print(mid_q4_sec_3)

['CSE104_Mid_Q4', 'Midterm', 20, 'CO2', 'cse104_1']
['CSE104_Mid_Q4', 'Midterm', 20, 'CO2', 'cse104_3']

In [14]:
# total marks for q5
q5 = to_list[1:][1][9]
print(q5)
#getting CO number
co_id_mq5 = to_list[0][9]
print(co_id_mq5)

30
CO1

In [15]:
# Creating assessments mid q5
mid_q5_sec_1 = ['CSE104_Mid_Q5_S1', 'Midterm', q5, co_id_mq5, 'cse104_' + str(1) ]
print(mid_q5_sec_1)
mid_q5_sec_2 = ['CSE104_Mid_Q5_S2', 'Midterm', q5, co_id_mq5, 'cse104_' + str(2) ]
mid_q5_sec_3 = ['CSE104_Mid_Q5_S3', 'Midterm', q5, co_id_mq5, 'cse104_' + str(3) ]
print(mid_q5_sec_3)

['CSE104_Mid_Q5_S1', 'Midterm', 30, 'CO1', 'cse104_1']
['CSE104_Mid_Q5_S3', 'Midterm', 30, 'CO1', 'cse104_3']

In [16]:
# total marks for q6
q6 = to_list[1:][1][10]
print(q6)
#getting CO number
co_id_mq6 = to_list[0][10]
print(co_id_mq6)

20
CO1

In [17]:
# Creating assessments mid q6
mid_q6_sec_1 = ['CSE104_Mid_Q6_S1', 'Midterm', q6, co_id_mq6, 'cse104_' + str(1) ]
print(mid_q6_sec_1)
mid_q6_sec_2 = ['CSE104_Mid_Q6_S2', 'Midterm', q6, co_id_mq6, 'cse104_' + str(2) ]
mid_q6_sec_3 = ['CSE104_Mid_Q6_S3', 'Midterm', q6, co_id_mq6, 'cse104_' + str(3) ]
print(mid_q6_sec_3)

['CSE104_Mid_Q6_S1', 'Midterm', 20, 'CO1', 'cse104_1']
['CSE104_Mid_Q6_S3', 'Midterm', 20, 'CO1', 'cse104_3']

##### Assessments for Final

In [18]:
# total marks for  Final q1
fq1 = to_list[1:][1][13]
print(fq1)
#getting CO number
co_id_fq1 = to_list[0][13]
print(co_id_fq1)

20
CO1

In [19]:
# Creating assessments Final Q1
fnl_q1_sec_1 = ['CSE104_Final_Q1_S1', 'Final', fq1, co_id_fq1, 'cse104_' + str(1) ]
print(fnl_q1_sec_1)
fnl_q1_sec_2 = ['CSE104_Final_Q1_S2', 'Final', fq1, co_id_fq1, 'cse104_' + str(2) ]
fnl_q1_sec_3 = ['CSE104_Final_Q1_S3', 'Final', fq1, co_id_fq1, 'cse104_' + str(3) ]
print(fnl_q1_sec_3)

['CSE104_Final_Q1_S1', 'Final', 20, 'CO1', 'cse104_1']
['CSE104_Final_Q1_S3', 'Final', 20, 'CO1', 'cse104_3']

In [20]:
# total marks for  Final q2
fq2 = to_list[1:][1][14]
print(fq2)
#getting CO number
co_id_fq2 = to_list[0][14]
print(co_id_fq2)

15
CO1

In [21]:
# Creating assessments Final Q2
fnl_q2_sec_1 = ['CSE104_Final_Q2_S1', 'Final', fq2, co_id_fq2, 'cse104_' + str(1) ]
print(fnl_q2_sec_1)
fnl_q2_sec_2 = ['CSE104_Final_Q2_S2', 'Final', fq2, co_id_fq2, 'cse104_' + str(2) ]
fnl_q2_sec_3 = ['CSE104_Final_Q2_S3', 'Final', fq2, co_id_fq2, 'cse104_' + str(3) ]
print(fnl_q2_sec_3)

['CSE104_Final_Q2_S1', 'Final', 15, 'CO1', 'cse104_1']
['CSE104_Final_Q2_S3', 'Final', 15, 'CO1', 'cse104_3']

In [22]:
# total marks for  Final q3
fq3 = to_list[1:][1][15]
print(fq3)
#getting CO number
co_id_fq3 = to_list[0][15]
print(co_id_fq3)

15
CO2

In [23]:
# Creating assessments Final Q3
fnl_q3_sec_1 = ['CSE104_Final_Q3_S1', 'Final', fq3, co_id_fq3, 'cse104_' + str(1) ]
print(fnl_q3_sec_1)
fnl_q3_sec_2 = ['CSE104_Final_Q3_S2', 'Final', fq3, co_id_fq3, 'cse104_' + str(2) ]
fnl_q3_sec_3 = ['CSE104_Final_Q3_S3', 'Final', fq3, co_id_fq3, 'cse104_' + str(3) ]
print(fnl_q3_sec_3)

['CSE104_Final_Q3_S1', 'Final', 15, 'CO2', 'cse104_1']
['CSE104_Final_Q3_S3', 'Final', 15, 'CO2', 'cse104_3']

In [24]:
# total marks for  Final q4
fq4 = to_list[1:][1][16]
print(fq4)
#getting CO number
co_id_fq4 = to_list[0][16]
print(co_id_fq4)

50
CO3

In [25]:
# Creating assessments Final Q4
fnl_q4_sec_1 = ['CSE104_Final_Q4_S1', 'Final', fq4, co_id_fq4, 'cse104_' + str(1) ]
print(fnl_q4_sec_1)
fnl_q4_sec_2 = ['CSE104_Final_Q4_S2', 'Final', fq4, co_id_fq4, 'cse104_' + str(2) ]
fnl_q4_sec_3 = ['CSE104_Final_Q4_S3', 'Final', fq4, co_id_fq4, 'cse104_' + str(3) ]
print(fnl_q4_sec_3)

['CSE104_Final_Q4_S1', 'Final', 50, 'CO3', 'cse104_1']
['CSE104_Final_Q4_S3', 'Final', 50, 'CO3', 'cse104_3']

##### Making Excel Sheet (CSV File)

In [26]:
assessments = [mid_q1_sec_1, mid_q1_sec_2, mid_q1_sec_3, mid_q2_sec_1, mid_q2_sec_2, mid_q3_sec_3,
              mid_q3_sec_1, mid_q3_sec_2, mid_q3_sec_3, mid_q4_sec_1, mid_q4_sec_2, mid_q4_sec_3,
              mid_q5_sec_1, mid_q5_sec_2, mid_q5_sec_3, mid_q6_sec_1, mid_q6_sec_2, mid_q6_sec_3,
              fnl_q1_sec_1, fnl_q1_sec_2, fnl_q1_sec_3, fnl_q2_sec_1, fnl_q2_sec_2, fnl_q2_sec_3,
              fnl_q3_sec_1, fnl_q3_sec_2, fnl_q3_sec_3, fnl_q4_sec_1, fnl_q4_sec_2, fnl_q4_sec_3]

# as []
# as.append(mid_q1_sec_1)

In [27]:
df = pd.DataFrame(assessments,columns=['Assessments ID', 'Assessments name', 'Total marks', 'CO id', 'Section ID'] )
df.head()

     Assessments ID Assessments name  Total marks CO id Section ID
0  CSE104_Mid_Q1_S1          Midterm           25   CO1   cse104_1
1  CSE104_Mid_Q1_S2          Midterm           25   CO1   cse104_2
2  CSE104_Mid_Q1_S3          Midterm           25   CO1   cse104_3
3  CSE104_Mid_Q2_S1          Midterm           25   CO1   cse104_1
4  CSE104_Mid_Q2_S2          Midterm           25   CO1   cse104_2

In [28]:
df.to_excel('assessments_cse104.xlsx')